###########################################
# critical: do not include script outputs #
###########################################

*.sdc
*.mapped.sdc
*.gds
*.lib
*.db
*.map
*.tlef
*.rpt
*.ilm
*postRoute.v*
*.spef*
*.place*
*.mapped.v
*.v.gz
*.io
*.src.net
*.lef
*.time
*.enc
*.dat
*.spf
*.sdf
*.svf
*.syn
*.pvl
*.mr
*.ddc
qrcTechFile*
tcbn16*
pnr/data
pnr/gate_size_test
flow/*/outputs
designs/*/*/temp/
*.mco
*.tar.gz

#########################
# other files to ignore #
#########################

__pycache__

.idea
.DS_Store
.nfs*
*.egg-info
*.swp
*.txt
*.log
*.jou
*.str
*.diag
*.svg
*.pickle

.Xil
*.debug
*.layout
fpga_prj

build_*
xcelium.d
xrun.*
waves.*
wave.*
.simvision*
DVEfiles
jgproject

*_gpack.sv
build/

HardFloat-1/
install_hardfloat.sh
library_TSMC16.csh
load_tsmc16.tcl
designs/dragonphy_top/ams_syn_script/outputs/synthesis_dragonphy/scripts/library_TSMC16.csh
designs/dragonphy_top/ams_syn_script/outputs/synthesis_dragonphy/scripts/load_tsmc16.tcl
