DigitalCtrlInput(name='prbs_rst', width=1, abspath='tb_i.prbs_rst', init_value=1)
DigitalCtrlInput(name='lb_mode', width=2, abspath='tb_i.lb_mode', init_value=0)
DigitalCtrlInput(name='tm_stall', width=27, abspath='tb_i.tm_stall_i.__emu_dt_req', init_value=0x3ffffff)
DigitalCtrlOutput(name='lb_latency', width=8, abspath='tb_i.lb_latency')
DigitalCtrlOutput(name='lb_correct_bits', width=64, abspath='tb_i.lb_correct_bits')
DigitalCtrlOutput(name='lb_total_bits', width=64, abspath='tb_i.lb_total_bits')
DigitalCtrlOutput(name='data_rx', width=1, abspath='tb_i.data_rx')
DigitalCtrlOutput(name='mem_rd', width=1, abspath='tb_i.mem_rd')
